<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Lessons Page</h1>
<h3 th:if="${currentUser.type.name() == 'TEACHER'}"><a href="/lessons/add">Add Lesson</a></h3>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>Teacher Name</th>
        <th th:if="${currentUser.type.name() == 'TEACHER'}">Update</th>
        <th th:if="${currentUser.type.name() == 'TEACHER'}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.title}"></td>
        <td th:text="${lesson.duration}"></td>
        <td th:text="${lesson.price}"></td>
        <td th:text="${lesson.startDate}"></td>
        <td th:text="${lesson.teacher.name}"></td>
        <td th:if="${currentUser.type.name() == 'TEACHER'}"><a th:href="@{'/lessons/update/'+${lesson.id}}">update</a></td>
        <td th:if="${currentUser.type.name() == 'TEACHER'}"><a th:href="@{'/lessons/delete/'+${lesson.id}}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>